@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">ModelBinding Styling!</h1>
            <p class="lead">
                Your task for this project is to style the two pages linked below. You may do custom CSS or
                use a framework like <a href="https://getbootstrap.com" class="link-primary">Bootstrap</a>
            </p>
            <p><a asp-controller="Home" asp-action="UserProfile" class="btn btn-primary">User Profile Page</a></p>
            <p><a asp-action="PrinterList" class="btn btn-secondary">3D Printer List</a></p>
        </div>
    </div>
</div>


